.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    outline: none;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 1.5rem;
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    color: white;
    float: right;
    margin-left: .5em;
}