a:link {
    color: #333;
    text-decoration: underline;
}

a:visited {
    color: #666;
    text-decoration: underline;
}

a:hover {
    color: #1DB954;
    text-decoration: underline;
}

a:active {
    color: #000;
    text-decoration: underline;
}