body {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

div {
    padding: 0.5em 0;
}

button {
    border: 2px solid black;
    font-size: 1em;
    cursor: pointer;
}

#logo-and-text {
    text-align: center;
    display: flex;
    align-items: center;
}

.flex {
    text-align: center;
    display: flex;
    align-items: center;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

#logo {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

#minutes-input,
#seconds-input {
    width: 3em;
    font-size: 1.5em;
}

#footer {
    margin-top: 1em;
    text-align: center;
    font-size: .5em;
    display: flex;
    align-items: center;
}

#footer>div {
    padding: 1rem;
    margin: 1rem;
}

.material-symbols-outlined {
    padding: .2em;
    font-variation-settings:
        'FILL' 0,
        'wght' 1200,
        'GRAD' 0,
        'opsz' 24
}

.icon-and-label {
    display: flex;
    align-items: center;
    justify-items: center;
    /* padding: .25em; */
    /* margin: .25em; */
}


#search,
#signout,
#signin,
#clear-cache {
    border: 2px solid black;
    padding: .5em;
    margin: .5em;
    font-size: 1em;
}

#spotify-logo {
    height: 2em;
    margin-right: 1em;
}

#spotify-icon {
    width: 1em;
    height: 1em;
    margin-right: 1em;
}

#devices {
    margin-left: 2rem;
    border: 2px solid black;
    font-size: 1em;
}

#devices:invalid {
    /* Styles for when no option is selected */
    border-color: red;
}

#status {
    /* margin: 1em; */
    /* padding: 1em; */
    border: 0 solid black;
    font-size: 1em;
    width: 100%;
}

#status.error {
    background-color: pink;
}

#times {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    padding: 1em 0;
}

#times li:not(:last-child)::after {
    content: "|";
    margin: 0 0.5em;
}