.currently-playing {
    display: flex;
    align-items: start;
    padding: 0 1em;
    border: 2px solid black;
}

.album-image {
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
}

.song-info {
    display: flex;
    flex-direction: column;
    /* stack children vertically */
    justify-content: space-between;
    /* distribute space between song name and artist name */
    width: 100%;
}

.found-song {
    margin: .5em 0;
    display: flex;
    align-items: start;
    padding: 0 1em;
    border: 2px solid black;
}

.song-name {
    font-weight: bold;
}

.song-album {
    /* italics */
    font-style: italic;
}

.song-artist {}

.material-symbols-outlined {
    margin: .25em;
}

.song-progressbar {
    height: 1rem;
    border-radius: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}

.song-duration {
    display: flex;
    justify-content: space-between;
}

.song-duration>span {
    margin: 0 .5em;
}